.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--footer-height);
  background-color: var(--primary);
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerText {
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
