.hero{
  width: 100%;
  height: calc(100vh - var(--header-height));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}