.hero{
  width: 100%;
  height: calc(100vh - var(--footer-height) - var(--header-height));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.heroTitle {
  color: white;
  font-size: 6rem;
  font-family: "Syntha", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  text-transform: lowercase;
}

.heroArrowScroll {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}