@tailwind base;
@tailwind components;
@tailwind utilities;

/* Minimal global styles */
html, body, #__next {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-futura), system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  background: #ffffff;
  color: #000000;
}

code, pre {
  font-family: var(--font-syntha), 'Courier New', monospace;
}
