.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  margin-top: var(--header-height);
  margin-bottom: var(--footer-height);
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}
